body {
    margin: 0;
    background-color: rgb(135, 170, 164);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  div.wrapper {
    width: 960px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    }
  
  header, footer {
    display: flex;
    background-color: slategray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  header {
    display: flex;
    background-color: slategray;
  }

  img {
    height: 200px;
    width: 200px;
  }
  